extends layout

block content
	div#main
		ul.nav-tabs.nav
			li.active
				a="Iseteenindus"
			li
				a="Tasuline"
		div#selfService
			form#self
				p
					label="URL"
					input(type="text")#url
				p
					label="Selgitus"
					textarea#message
				p
					label="Kontaktisik"
					input(type="text")#contactPerson
				p
					label="Põhjus"
					select#reason
						option(value="esimene")="Isikuandmeid puudutava sisu eemaldamine"
						option(value="teine")="Tarbijate õigusi rikkuva või konkurenti halvustava sisu eemaldamine"
						option(value="kolmas")="Hasartmängulehekülgede eemaldamine "
						option(value="neljas")="Karistusseadusega keelatud tegevused (vaenu õhutamine, identiteedivargus, lasteporno, sõjapropaganda, internetikelmused jne)"
						option(value="viies")="Laimu, halvustava, privaatsust rikkuva või isikuõigusi riivava sisu eemaldamine"
						option(value="kuues")="Sisu, mis rikub autoriõigusi"
				p
					label="Sinu nimi"
					input(type="text")#name
				p
					label="Sinu e-mail"
					input(type="text")#email
				input(type="submit", value="Saada")#send
